@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    
}
.header{
    width: 100%;
    height: 100vh;
    background: url(image.png);
    background-position: center;
    background-size: cover;
}
nav{
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
.logo{
    width: 150px;
    margin: 20px 0;
    cursor: pointer;
}
nav ul{
    background: #000;
    width: 100%;
    margin-top: 10px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 20px 30px;
    color: #fff;
}
.text{
    padding: 20px 8%;
}
nav.header{
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 8%;
    background: #000;
}