@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Zen+Old+Mincho:wght@900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    font-family: 'Zen Old Mincho', serif;
}
.conatiner{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gallary{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 30px;
}
.gallary img{
     width: 100%;
}
