@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
:root{
    --yellow: #10a8ee;
}
*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
*::selection{
    background: var(--yellow);
    color: #333;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
html::-webkit-scrollbar{
    width: 1.14rem;
}
html::-webkit-scrollbar-track{
    background: #222;
}
html::-webkit-scrollbar-thumb{
    background: var(--yellow);
}
body{
    background: #111;
    overflow-x: hidden;
    padding-left: 35rem;
}
section{
    min-height: 100vh;
    padding: 1rem;
}
.btn{
    padding: .7rem 3rem;
    background:#333;
    color: #fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}
.btn i{
    padding: 0 .5rem;
    font-size: 1.8rem;
}
.btn:hover{
    background: var(--yellow);
}
.heading{
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding: 1rem;
    border-bottom: .1rem solid #fff4;
    color: #fff;
}
.heading span{
    color: var(--yellow);
}
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 35rem;
    background: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}
header .user img{
height: 17rem;
width: 17rem;
border-radius: 50%;
object-fit: cover;
margin-bottom: 1rem;
border: .7rem solid var(--yellow);
}
header .user .name{
    font-size: 3.5rem;
    color: #fff;
}
header .user .post{
    font-size: 2rem;
    color: #eee;
}
header .navbar{
    width: 100%;
}
header .navbar ul{
    list-style: none;
    padding: 1rem 3rem;
}
header .navbar ul li a{
    display: block;
    padding: 1rem;
    margin: 1.5rem 0;
    background: #333;
    color: #fff;
    font-size: 2rem;
    border-radius: 5rem;
}
header .navbar ul li a:hover{
    background: var(--yellow);
}

#menu{
    position: fixed;
    top:2rem; right:2rem;
    background:#333;
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    padding:1rem 1.5rem;
    z-index: 1000;
    display: none;
}
.home{
    display: flex;
   justify-content: center;
   flex-flow: column;
   padding: 0 15rem;
}
.home h3{
    font-size: 2.5rem;
    color: #fff;
}
.home h1{
    font-size: 5rem;
    color: #fff;
}
.home h1 span{
    color: var(--yellow);
}
.home p{
    font-size: 2rem;
    color: #eee;
    padding: 1rem 0;
}
.about .row{
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
padding: 1rem 0;
}
.about .row .info{
    flex: 1 1 48rem;
   padding: 2rem 1rem;
   padding-left: 6rem;
}
.about .row .info h3{
font-size: 2rem;
color: var(--yellow);
padding: 1rem 0;
font-weight: normal;
}
.about .row .info h3 span{
    color: #eee;
    padding: 0 .5rem;
}
.about .row .counter{
    flex: 1 1 48rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.about .row  .counter .box{
    width: 20rem;
    background: #222;
    text-align: center;
    padding: 2rem;
    margin: 2rem;
}
.about .row  .counter .box span{
    font-size: 4rem;
    color: var(--yellow);
}
.about .row  .counter .box h3{
    font-size: 2rem;
    color: #fff;
}
.contact .row{
    display: flex;
    align-self: center;
    justify-content: center;
    flex-wrap: wrap;
}
.contact .row .content{
    flex: 1 1 30rem;
    padding: 4rem;
    padding-bottom: 0;
}
.contact .row form{
    flex: 1 1 45rem;
    padding: 2rem;
    margin: 2rem;
    margin-bottom: 4rem;
}
.contact .row form .box{
    padding: 1rem;
    margin: 1rem 0;
    background: #3333;
    color: #fff;
    text-transform: none;
    font-size: 1.7rem;
    width: 100%;
}
.contact .row form .box::placeholder{
    text-transform: capitalize;
}
.contact .row form .message{
    height: 15rem;
    resize: none;
}
.contact .row .content .title{
    text-transform: uppercase;
    color: #fff;
    font-size: 3rem;
    padding-bottom: 2rem;
}
.contact .row .content .info h3{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: #eee;
}
.contact .row .content .info h3 i{
    padding-right: 1rem;
    color: var(--yellow);
}
.contact .row form{
    margin: 3rem 0;
}
hr{
    border-top: 1px solid  #eee;
}
/* Footer CSS */
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #222;
    padding: 50px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #fff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 800;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: var(--yellow);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #fff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #fff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
    font-size: 35px;
	border-radius: 50%;
	color: #fff;
	transition: all 0.1s ease;
}
.footer-col .social-links a:hover{
	color: var(--yellow);
}
/* Login Form CSS Starts */
.log{
display: flex;
align-items: center;
justify-content: center;
padding: 20px;
padding-bottom: 70px;
background: #222;
min-height: 100vh;
}
.log form{
    width: 600px;
    box-shadow: 0 10px 15px rgba(0,0,0,.1);
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
}
.log form .links{
background: #fff;
padding: 30px 15px;
}
.log form .title{
    font-size: 17px;
    padding-bottom: 15px;
    color: #666;
}
.log form .links .buttons .btn{
    font-size: 17px;
    margin: 5px;
    display: inline-block;
    background: var(--yellow);
    border-radius: 5px;
    padding: 10px 30px;
    color: #333;
}
.log form .links .buttons .btn i{
    color: #fff;
    padding-right: 5px;
}
.log form .links .buttons .btn:hover{
    color: #fff;
    background: var(--yellow);
}
.log form .links .buttons .btn:hover i{
    color: #fff;
    background: var(--yellow);
}
.log form .input-box{
    padding: 30px;
    background: var(--yellow);
}
.log form .input-box .input{
    margin: 15px auto;
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    border: var(--yellow);
}
.log form .input-box .input input{
    height: 100%;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #333;
    text-transform: none;
}
.log form .input-box .input span{
    color: red;
    padding-right: 5px;
    padding-left: 15px;
    font-size: 20px;
}
.log form .checkbox{
    text-align: left;
    padding: 10px 0;
}
.log form .checkbox label{
    font-size: 17px;
    color: #fff;
    cursor: pointer;
}
.log form .sign-in-btn{
    padding: 10px 40px;
    margin-top: 10px;
    font-size: 17px;
    color: #fff;
    border-radius: 5px;
    background: #333;
    cursor: pointer;
    transition: .2s linear;
}
.log form .sign-in-btn:hover{
    letter-spacing: 2px;
}
/* Login Form CSS Ends */

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
/* Footer CSS Ends */


/* media queries */
@media (max-width:1200px){
    html{
        font-size: 55%;
    }
    .home{
        padding: 1rem 4rem;
    }
}

@media (max-width:991px){
    header{
        left: -120%;
    }
    #menu{
        display: block;
    }
    header.toggle{
        left: 0%;
    }

    body{
        padding: 0;
    }
}

@media (max-width:768px){
   html{
       font-size: 50%;
   }
}

@media (max-width:400px){
    header{
        width: 100vw;
    }

    .heading{
        margin: 0 3rem;
    }

    .about .row .counter .box{
     width: 100%;
    }
}

